<div>
  <h3>SupSeasonal Angular Edition!</h3>
  <ul>
    <a [routerLink]="['/ingredients']" class="btn btn-link">Ingredients Results</a>
    <a [routerLink]="['/recipes']" class="btn btn-link">Recipes Results</a>
  </ul>
  <form #f="ngForm"
  (ngSubmit)="onSubmit(f.value)">
  <label for="monthSelector">Select A Month</label>
  <select id="monthSelector" class="" name="queryMonth" ngModel>Select A Month
    <option *ngFor="let month of months">{{month}}</option>
  </select>
  <button type="submit" class="ui button">Submit</button>
</form>
</div>
